<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" *ngIf="!currentUrl.includes('company/'); else navCompany">
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" routerLink="/">Logo</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/about" mdbRippleRadius>About<span class="sr-only">(current)</span></a>
            </li>            
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/jobs" mdbRippleRadius>Find Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/login" mdbRippleRadius>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/register" mdbRippleRadius>Register</a>
            </li>

        </ul>
        <!-- Links -->

       
    </links>
    <!-- Collapsible content -->

</mdb-navbar>

<ng-template #navCompany>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">Logo</a>
    </nav>
</ng-template>

<!--/.Navbar-->