
<!-- Sidebar Holder -->
<nav id="sidebar">
    <ul class="list-unstyled components" id="accordion">
        <li>
            <a href="javascript:void(0);" (click)="interviewsMenu.toggle()"><i class="fa fa-video"></i> <span>Interviews</span> <i class="fa fa-chevron-right"></i></a>
            <ul [mdbCollapse]="isCollapsed" #interviewsMenu="bs-collapse">
                <li><a routerLink="interview/create"><i class="fa fa-plus"></i><span>Create Interview</span></a></li>
                <li><a routerLink="interview/lists"><i class="fa fa-eye"></i><span>View Interviews</span></a></li>
                <li><a routerLink="interview/share-links"><i class="fa fa-share"></i><span>Share Links</span></a></li>
            </ul>
        </li>
        <li>
            
            <a href="javascript:void(0);" (click)="jobsMenu.toggle()"><i class="fa fa-suitcase"></i> <span>Jobs</span> <i class="fa fa-chevron-right"></i></a>
            <ul [mdbCollapse]="isCollapsed" #jobsMenu="bs-collapse">
                <li><a routerLink="jobs/create"><i class="fa fa-plus"></i><span>Create Jobs</span></a></li>
                <li><a routerLink="jobs/lists"><i class="fa fa-eye"></i><span>View Jobs</span></a></li>
            </ul>
        </li>
        <!-- <li>
            <a href="#"><i class="fa fa-cogs"></i> <span>Settings</span></a>
        </li> -->
        
    </ul>

    
</nav>  
 