
<div class="clearfix">    
      
    <!-- Login form -->
    <form #f="ngForm" novalidate (ngSubmit)="login(f)">
        <h2 class="text-center">Login your KwikHire account</h2>

        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input 
              type="email"
              id="email" 
              name="email"
              [(ngModel)]="model.email"
              #email="ngModel"
              class="form-control" 
              mdbActive
              required
            />
            <label for="email">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input 
              id="password" 
              type="password"
              name="password"
              [(ngModel)]="model.password"
              #email="ngModel"
              class="form-control" 
              mdbActive
              required
            />
            <label for="password">Your password</label>
        </div>

        <!-- submit btn -->
        <div class="clearfix text-center">
          <button class="btn btn-primary waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
          </button>
        </div>

    </form>
    <!-- Login form -->


  </div>


