
<div class="row">
    <h2>Login your KwikHire account</h2>
    <form class="col s12">
      <div class="row">
      
        <div class="clearfix">
          <div class="input-field">
            <input id="email" type="email">
            <label for="email">Email Address</label>
          </div>
          
        </div>
  
        <div class="clearfix">
          <div class="input-field">
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
         
        </div>
  
        <!-- submit btn -->
        <div class="clearfix">
          <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
          </button>
        </div>
        
  
      </div>
    </form>
  </div>