
<div class="row">
    <h2>Login your KwikHire account</h2>
    <form #f="ngForm" novalidate (ngSubmit)="login(f)">
      <div class="row">
      
        <div class="clearfix">
          <div class="input-field">
            <input id="email" type="email"
              name="email"
              [(ngModel)]="model.email"
              #email="ngModel"
              required
            />
            <label for="email">Email Address</label>
          </div>
          
        </div>
  
        <div class="clearfix">
          <div class="input-field">
            <input id="password" type="password"
              name="password"
              [(ngModel)]="model.password"
              #email="ngModel"
              required
            />
            <label for="password">Password</label>
          </div>
         
        </div>
  
        <!-- submit btn -->
        <div class="clearfix">
          <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
          </button>
        </div>
        
  
      </div>
    </form>
  </div>