/* You can add global styles to this file, and also import other style files */

.navbar{
    background: #213d55 !important;
}

/* sidebar */ 
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F3F3F3;
    color: #707070;
    transition: all 0.3s;
    height: 100%;
    position: relative;

    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #EBEBEB;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #EBEBEB;
}

#sidebar ul p {
    color: #707070;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #707070;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    position: relative;
}
#sidebar ul li a:hover {
    color: #213d55;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #707070;
    background: #EBEBEB;
}

#sidebar ul li ul{
    list-style: none;
    padding-left: 0;
}

#sidebar ul li ul li a{
    display: inline-block;
    width: 100%;
    padding-left: 30px;
}

#sidebar ul li ul li a span{
    padding-left: 5px;
    display: inline-block;
}

#sidebar ul li .fa-chevron-right{
    position: absolute;
    right: 10px;
    top: 13px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;    
}


/* content */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background: #e5e5e5;
    width: 100%;
}

/* interview */
#interview-build-question textarea{
    resize: vertical;
}
.question-created-lists{
    min-height: 200px;
}

/* extras */
.wrapper {
    display: flex;
    align-items: stretch;
}
.mtop50{
    margin-top: 50px;
}
.mleft0{margin-left: 0;}
.mright0{margin-right: 0;}
.bd{
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
.full-width{
    width: 100% !important;
}

/* overwrite */
.btn{
    box-shadow: none;
}